@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: black;
    padding: 0;
    margin: 0;
    user-select: none;
    color: rgba(255, 255, 255, 0.5);
  }
}

@layer utilities {
  .link {
    text-decoration: none;
    color: white;
  }

  /* UTILITIES */
  .invert-white {
    @apply invert brightness-0 transition;
  }
}

.swiper-pagination-bullet {
  @apply bg-white;
}